<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="footer_contact">
                    <h5 class="footer_head">🌷 LIÊN HỆ</h5>
                    <p class="footer_des">Cung cấp thực phẩm thuận tự nhiên theo mùa đến bàn ăn mọi gia đình.</p>
                    <div class="footer_info">
                        <div class="desc_info">
                            <i class="fa-solid fa-truck-fast"></i> Giao hàng nhanh
                            <p>Giao hàng trong 2h</p>
                        </div>
                        <div class="desc_info">
                            <i class="fa-solid fa-envelope"></i> Đóng góp ý kiến
                            <p>trangle231004@gmail.com</p>
                        </div>
                        <div class="desc_info">
                            <i class="fa-solid fa-clock"></i> Giờ làm việc
                            <p>Từ 6h00 - 19h30 hàng ngày</p>
                        </div>
                        <div class="desc_info">
                            <i class="fa-solid fa-phone-volume"></i> Hotline: 0123456789
                        </div>
                        <div class="desc_info">
                            <i class="fa-solid fa-location-dot"></i> Hệ thống 20 cửa hàng tại Đà Nẵng
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="footer_category">
                    <h5 class="footer_head">🌷 DANH MỤC</h5>
                    <p class="footer_des">
                    <ul>
                        <li>👉 Về chúng tôi</li>
                        <li>👉 Tuyển dụng</li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="footer_cus_sup">
                    <h5 class="footer_head">🌷 HỖ TRỢ KHÁCH HÀNG</h5>
                    <p class="footer_des">
                    <ul>
                        <li>👉 Chính sách thẻ thành viên</li>
                        <li>👉 Chính sách đổi, trả hàng</li>
                        <li>👉 Hướng dẫn mua hàng</li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="footer_connect">
                    <h5 class="footer_head">🌷 KẾT NỐI VỚI CHÚNG TÔI</h5>
                    <div class="list-contact">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-solid fa-envelope"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
