<!-- HEADER -->
<header class="header">
    <!-- header_top -->
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="left_info">
                        <ul>
                            <li>
                                <a href="StoresPage.html"><i class="fa-solid fa-location-dot"></i>Địa điểm</a>
                            </li>
                            <li>
                                <a href="mailto:trangle231004@gmail.com" title="trangle231004@gmail.com"><i
                                        class="fa-solid fa-envelope"></i>Liên hệ</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-solid fa-phone-volume"></i>0123.456.789</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="auth_input">
                        <div class="log_in">
                            <a href="#loginModal" data-toggle="modal">Đăng nhập</a>
                        </div>
                        <div class="register">
                            <a href="#registerModal" data-toggle="modal">Đăng ký</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header_top -->

    <!-- header_between -->
    <div class="header_between">
        <div class="container">
            <div class="row">
                <div class="col-xl-20">
                    <div class="img_logo">
                        <a href="./HomePage.html"><img src="./assets/images/img_Logo.png" alt="Logo_ThucPham"></a>
                    </div>
                </div>
                <div class="col-xl-20">
                    <div class="inner_bot" id="bet_ship">
                        <i class="fa-solid fa-truck-fast"></i>
                        <ul>
                            <li><b>Giao hàng miễn phí</b></li>
                            <li class="text_li">Với đơn hàng từ 500k</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-20">
                    <div class="inner_bot" id="bet_support">
                        <i class="fa-solid fa-envelope"></i>
                        <ul>
                            <li><b>Hỗ trợ 24/7</b></li>
                            <li class="text_li">Hotline: 0123456789</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-20">
                    <div class="inner_bot" id="bet_time">
                        <i class="fa-solid fa-clock"></i>
                        <ul>
                            <li><b>Giờ làm việc</b></li>
                            <li class="text_li">Từ 6:00-19:30 mỗi ngày</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-20 d-flex justify-content-end">
                    <div class="btn_cart" id="bet_shoppingCart">
                        <a href="#">Giỏ hàng <i class="fa-solid fa-cart-shopping"></i></a>
                        <span class="cart-count">1</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header_between -->

    <!-- header_bottom -->
    <div class="header_bottom">
        <div class="container">
            <div class="row" style="display: flex; align-items: center;">
                <div style="flex: 0 0 auto; padding: 0 10px;">
                    <div class="main_bot" id="home">
                        <a href="HomePage.html">Trang chủ</a>
                    </div>
                </div>
                <div style="flex: 0 0 auto; padding: 0 10px;">
                    <div class="main_bot" id="about_us">
                        <a href="#" class="menu-trigger">
                            Về chúng tôi
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        <!-- DROPDOWN LIST -->
                        <ul class="dropdown-list">
                            <li><a href="AboutPage.html?section=gioithieu">Giới thiệu</a></li>
                            <li><a href="AboutPage.html?section=vanhua">Văn hóa</a></li>
                            <li><a href="AboutPage.html?section=tailieu">Tài liệu hướng dẫn</a></li>
                            <li><a href="AboutPage.html?section=hotro">Hỗ trợ Khách Hàng</a></li>
                        </ul>
                    </div>
                </div>
                <div style="flex: 0 0 auto; padding: 0 10px;">
                    <div class="main_bot" id="Products">
                        <a href="#">Sản phẩm <i class="fa-solid fa-angle-down"></i></a>
                        <!-- Dropdown giống 'Về chúng tôi' nhưng với danh mục sản phẩm -->
                        <ul class="dropdown-list">
                            <li><a href="CategoryPage.html?category=hai-san">Hải sản vùng miền</a></li>
                            <li><a href="CategoryPage.html?category=hang-kho">Hàng khô</a></li>
                            <li><a href="CategoryPage.html?category=rau-cu">Rau củ hữu cơ</a></li>
                            <li><a href="CategoryPage.html?category=thit-ca">Thịt cá dân dã</a></li>
                            <li><a href="CategoryPage.html?category=trai-cay">Trái cây theo mùa</a></li>
                        </ul>
                    </div>
                </div>
                <div style="flex: 0 0 auto; padding: 0 10px;">
                    <div class="main_bot" id="store_system"><a href="StoresPage.html">Hệ thống cửa hàng</a></div>
                </div>
                <div style="flex: 1; display: flex; justify-content: flex-end; padding: 0 10px;">
                    <div class="search_wrapper">
                        <input class="search" type="search" id="searchInput" name="search" placeholder="Tìm sản phẩm">
                        <button class="btn_Search" id="searchBtn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header_bottom -->
</header>
<!-- END HEADER -->
